.title{
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  padding-top: 10px;
  padding-left: 5%;
font-family: 'Source Code Pro', monospace;

}


#imagelist img{
max-width: 700px;
padding-left: 0;
   padding-right: 0;
   /* margin-left: auto; */
   margin-right: auto;
   display: block;

}
.imgGroup{
  display: flex;
  justify-content: center;
  align-items: center;
font-family: 'Source Code Pro', monospace;

}

p1 {
  /* padding-left: 0; */
     /* padding-right: 0; */
     text-align: center;
     /* margin-left: 40%; */
     /* margin-right: 20px; */
     /* display: block; */


  /* padding-left: 5%; */
}
.textG{
     text-align: center;
    margin-right: auto;
}

.sktype{
  padding-left: 0;
     padding-right: 0;
     margin-left: auto;
     margin-right: auto;
     /* display: block; */
     text-align: center;
}


.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
#imagelist {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

#imagelist img {
  margin-top: 8px;
  vertical-align: middle;
}
/* button */
.dropbtn {
  background-color: #e3ff01;
  color: rgb(39, 34, 40);
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;

  padding-left: 5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: default;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #767751;}
