html, body {
  padding: 0;
  margin: 0;
  background: rgb(230, 227, 229);
  font-family: 'Roboto', sans-serif;
}

/* default dimensions for the leaflet map */
#aa-map{
  width: 100%;
  height: 100%;
z-index:0;

}
#describ{
  width :auto;
text-align: center;
padding:20px 40px;
}

#contentWrapper{
  margin-top: 8%;
  margin-left: 5%;
z-index:1;
border-radius: 25px;
color:rgb(231, 202, 211);
position: absolute;
background-color: #d62e2e;
opacity: .9;
width:310px;
text-align: center;
}
#mytitle{
  font-size: 32px;
  color:#ffffff;


}

/* #map-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
    border: 1px solid black;
} */


.leaflet-popup-tip {
background: #e93434;
opacity: 0.8;
}
.leaflet-popup-content-wrapper {
    background: #e93434;
     opacity: 0.8;
    color: #ffffff;
}
/* button */
.dropbtn {
  background-color: #dd5454;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 200px;
  border-radius: 25px;

}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 10px;
  z-index: 1;
  border-radius: 25px;
  width: 200px;
/* position: absolute; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eda4a4;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: default;
  border-radius: 25px;

}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  -webkit-transition: 1s; /* Safari */
  transition:  1s;
  background-color: #e67575;
  border-radius: 25px;
  
}

.dropdown:hover .dropdown-content {
     -webkit-transition:  2s; /* Safari */
  transition:  2s;
    display: block;
}



.dropdown:hover .dropbtn {
    -webkit-transition:   2s; /* Safari */
  transition: 2s;
  background-color: #fb3636;
   }
